<script lang="ts">
	import { page } from '$app/stores';
	import { getUserPostsQuery } from '$lib/api/posts/get.js';
	import { getUserQuery } from '$lib/api/users/get.js';
	import BlogPreviewCard from '$lib/components/blog-preview-card.svelte';

	export let data;
	let { supabase } = data;
	$: ({ supabase } = data);
	const user_id = $page.params.user;
	const user = getUserQuery(supabase, user_id ?? '');
	const posts = getUserPostsQuery(supabase, user_id ?? '');
</script>

<flex>
	<grow />
	<a href="/users/{user_id}/edit" class="text-size-2rem">Update Roles</a>
</flex>
<h1>User Profile</h1>
<grid class="grid-cols-3 lg:grid-cols-10 grid-rows-1 grid-justify-start">
	<h3 class="my-auto mr-1em">Username</h3>
	<p class="grid-content lg:grid-content">{$user.data?.data?.display_name}</p>
</grid>
<grid class="grid-cols-3 lg:grid-cols-10 grid-rows-1 grid-justify-start">
	<h3 class="my-auto mr-1em">E-Mail</h3>
	<p class="grid-content lg:grid-content">{$user.data?.data?.display_email}</p>
</grid>
{#if $user.data?.data?.profile_picture}
	<img
		aria-labelledby="User Profile Picture"
		src={$user.data?.data?.profile_picture}
		alt="{$user.data?.data?.display_name} profile picture"
	/>
{/if}
<h2>User Posts</h2>
{#if $posts?.data?.data}
	<flex class="mt-5 flex-wrap">
		{#each $posts.data.data as post}
			<div class="text-size-.9em">
				<BlogPreviewCard item={post} />
			</div>
		{/each}
	</flex>
{/if}

<style>
	.grid-content {
		grid-column: 2/4;
	}
	@media (min-width: 1024px) {
		.lg\:grid-content {
			grid-column: 2/11;
		}
	}
</style>
