<script lang="ts">
	import { page } from '$app/stores';
	import { getUserQuery } from '$lib/api/users/get';

	export let data;
	let { supabase } = data;
	$: ({ supabase } = data);
	const user_id = $page.params.user;
	const user = getUserQuery(supabase, user_id ?? '');
	let user_roles = supabase.from('user_role').select('role_id(id, role)').eq('user_id', user_id);
	let roles = supabase.from('roles').select('*');
	const setUserRoles = () => {
		user_roles = supabase.from('user_role').select('role_id(id, role)').eq('user_id', user_id);
	};
	const removeRole = async (roleId: string) => {
		await supabase.from('user_role').delete().eq('user_id', user_id).eq('role_id', roleId);
		setUserRoles();
	};
	const addRole = async (roleId: string) => {
		await supabase.from('user_role').insert({ user_id, role_id: roleId });
		setUserRoles();
	};
</script>

<a href="/users/{user_id}" class="text-size-2rem">
	{$user.data?.data?.display_name}
</a>
{#await roles}
	<p>Loading Roles...</p>
{:then roles}
	{#await user_roles}
		<p>Loading User Roles...</p>
	{:then user_roles}
		<div class="text-size-1.5rem">Roles:</div>
		{#each user_roles.data ?? [] as user_role}
			<!-- TODO: Make action SSR -->
			<div>
				{user_role.role_id.role}
				<button
					on:click={async () => {
						await removeRole(user_role.role_id.id);
					}}>-</button
				>
			</div>
		{/each}
		{#each roles.data?.filter((x) => !user_roles.data?.find((y) => y.role_id.id == x.id)) ?? [] as role}
			<!-- TODO: Make action SSR -->
			<div>
				{role.role}
				<button
					on:click={async () => {
						await addRole(role.id);
					}}>+</button
				>
			</div>
		{/each}
	{/await}
{/await}
